@import "tailwindcss";

:root {
  --bg-color: #0B0D17;
  --text-color: #D0D6F9;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  margin: 0;
  min-height: 100vh;
}